* {
    margin: 0;
    padding: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin: 5px;
}

.btn {
    margin: 5px;
}

.btn-form {
    width: 150px;
}

table {
    border-collapse: collapse;
};

table td {
    padding: 0px
};

.app {
    display: flex;
    flex-direction: colummn;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    margin-top: 0px;
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

button:hover {
    opacity: 60%;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 5%;
    height: 50%;
}